*.o
*~
*#
*.log
*.a
*.mem
*.mcs
*.prm
*.lst
*.map
*.bak
*.sav
*.ref
*.out
*.mot
*.elf
.cproject
.settings/
.pydevproject
rvsim/rvsim
.project
.vscode/
.Xil/
rev*/
rvmon/term/term
rvmon/rvmon
rvsim/rv_dec_insn.sv
rvsim/rv_exp_cinsn.sv
rvsim/c-optab.h
rvsim/optab.h
rvmon/app/coremark/
*/*/.ip_user_files/
*/*/ip_user_files/
*/*/managed_ip_project/

